<!DOCTYPE html>
<html lang="en">
<head>
      <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

     .marginright{
      margin-right: 35px;
    }
     .marginleft{
      margin-left: 35px;
    }
  </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container">
                <div class="nav navbar-nav navbar-left">
                    <br>
                <img style="width:70px" src="https://pngimage.net/wp-content/uploads/2018/05/about-us-icon-png-white-3.png">
                <br><br>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                <li><h5 style="color:#E6E6E6"><b>Travel Blog</b></h5></li>
                <li><a class="nav-link text-dark">                 </a></li>
                <li><a class="nav-link text-light" style="width:100px" href="/User">Home</a></li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                <li><partial name="_LoginPartial" /></li> 
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center" style="color:#CACACA">
        <div class="container">
            Copyright &copy; 2020 - MyBlog
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
