@page
@model AddModel
@{
    ViewData["Title"] = "_LayoutAdmin";
}
 <div>
            <form class="form-style" action="" method="POST">
                <div class="text-center">
                </div>
                <br>
                <input  id="title" type="text" value="" name="title" placeholder="  Title">
                <input  id="highlight" type="text" value="" name="cart"  placeholder="  Highlight">
                <input  id="desc" type="text" value="" name="cart"  placeholder="  Content">
                <input  id="price" type="text" value="" name="cart"  placeholder="  Image (url)">
                <button id="button" type="submit" class="btn btn-success" value="Add" onclick="">Add Article</button><br><br>
            </form>
            </div>
            <br>
            <br>